
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.backround-section {
    background-image: url(./images/banner/banner1.png);
    height: 800px;
    width: 100%;
    
}
.header-section{
   
    text-align: right;
    padding:250px 50px ;
   
    
   
}
.header-section h1{
    font-size: 50px;
    font-weight: 700;
    width: 400px;
    margin-left: 60%;
    margin-bottom: 15px;
    color: rgb(46, 45, 45);


    
}
.header-section p {
    font-size: medium;
    font-weight: 500;
    color: rgb(112, 110, 110);
    width: 400px;
    margin-left: 60%;
    line-height: 25px;

}
.header-button{
    color: #fff;
    background-color:#F15B22 ;
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin:0 70px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}

                                   /* My-failures-start */
.My-failures{
    display: flex;
    margin-top: 150px;
    margin-left: 150px;
    gap: 40px;
}
.My-failures-discrption {
    margin-top: 280px;
    margin-left: 20px;
   
}
.My-failures-discrption h1 {
    color: rgb(46, 45, 45);
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    width: 200px;
    margin-bottom: 25px;
}
.My-failures-discrption p{
 color: rgb(112, 110, 110);
 margin-bottom: 25px;
 line-height: 25px;
 width: 390px;
 font-size: smaller;

}
.My-failures-discrption-list {
    list-style: none;
    color: rgb(112, 110, 110);
    font-size: smaller;
    font-weight: 500;  
}

.first-list {
    margin-bottom: 10px;
    
}
